<div class="button-social m_b-20">
    <div class="social-item social-item-google"><!-- DOTO: add code here --></div>
    <div class="social-item"><!-- DOTO: add code here --></div>
    <div class="social-item"><!-- DOTO: add code here --></div>
</div>

<div class="m_b-20 text-center">
    <img src="http://placehold.it/250x268&text=Google+plus" alt="" />
</div>
<div class="m_b-20 text-center">
    <img src="http://placehold.it/250x400&text=VK" alt="" />
</div>
<div class="m_b-20 text-center">
    <img src="http://placehold.it/250x230&text=FB" alt="" />
</div>
