<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-9 pull-right">
                <div class="row">
                    <div class="col-md-9 text-center">
                        <ul class="share-list">
                            <li>
                                <a class="share-vk" href="https://vk.com/avtozapchasti_kiev_admiral_c" target="_blank" rel="nofollow" title="Мы вконтакте"></a>
                            </li>
                            <li>
                                <a class="share-facebook" href="https://www.facebook.com/admiralc.com.ua" target="_blank" rel="nofollow" title="Мы в Фейсбуке"></a>
                            </li>
                            <li>
                                <a class="share-twitter" href="https://twitter.com/tw_AdmiralC" target="_blank" rel="nofollow" title="Мы в Твиттере"></a>
                            </li>
                            <li>
                                <a class="share-blogspot" href="http://bgadmiral-c.blogspot.com/" target="_blank" rel="nofollow" title="Мы в Блогере"></a>
                            </li>
                            <li>
                                <a class="share-google" href="//plus.google.com/u/0/108801537526731541536?prsrc=3" target="_blank" rel="nofollow" title="Мы в Google+"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <p class="hint">&copy; 2016 admiral-c.com.ua</p>
                        <p class="hint">
                            Разработчик: <a rel="nofollow" href="mailto: serious7sam@gmail.com">Sam Ivichuk</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pull-left">
                <ul class="list-inline m_t-10">
                    <li><a href="http://to.admiral-c.com.ua/">Запчасти для ТО</a></li>
                    <li><a href="http://zapchasti.admiral-c.com.ua/">Список запчастей</a></li>
                </ul>

            </div>
        </div>
    </div>
</footer>
