<nav class="mobile-nav">
    <ul class="mobile-nav-list">
        <li><a href="#">Неоригинал</a></li>
        <li><a href="#">Оригинал</a></li>
        <li class="long"><a href="#">Автомасла и автохимия</a></li>
        <li class="long"><a href="#">Универсальные запчасти</a></li>
        <li><a href="#">Подбор СТО</a></li>
        <li><a href="#">О компании</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Оплата и доставка</a></li>
        <li>
            <input id="menuCooperation" name="mobile-nav" type="radio" />
            <label for="menuCooperation">
                Сотрудничество <span class="caret"></span>
            </label>
            <ul>
                <li><a href="#">Оптовикам</a></li>
                <li><a href="#">Владельцам СТО</a></li>
                <li><a href="#">Поставщикам</a></li>
                <li><a href="#">Франчайзинг</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div class="offcanvas-fade"></div>
