<div class="item">
    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="photo-list" src="images/kroon_oil_02222.png" title="Моторное масло Kroon Oil 02222" alt="Моторное масло Kroon Oil 02222" />
            </a>
            <div class="hint m_b-5">
                <a href="#">
                    <span w3-include-html="views/widgets/rating-star.html"></span>
                    13 отзывов
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <a href="#">
                <span class="title">
                    Масло моторное п/синтетическое "semi synthetic 10w-40", 1л
                </span>
            </a>
            <div class="desc m_b-10">
                <b>Вязкость:</b> 10W-40<br />
                <b>класс вязкости SAE:</b> 10W-40<br />
                <b>Масло:</b> Полусинтетическое масло<br />
                <b>Объём:</b> 1л<br />
                <b>Описание:</b> Подходит для всех видов бензиновых и дизельных двигателей (как турбированных, так и атмосферных) легковых автомобилей и фургонов.<br />
            </div>
            <span class="btn btn-info btn-xs m_b-10" data-toggle="modal" data-target="#analogProduct">Аналоги</span>
            <span class="btn btn-info btn-xs m_b-10" data-toggle="modal" data-target="#applicabilityPopupProduct">Применяемость</span>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered offers-table">
                <thead>
                    <tr>
                        <th>НАЛИЧИЕ</th>
                        <th>Дата поставки</th>
                        <th>Цена</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            9
                            <i class="icon-probability probability-0"
                               data-toggle="tooltip"
                               data-placement="top"
                               title="Вероятность наличия: 85%"
                            ></i>
                        </td>
                        <td>
                            2 дн.
                            <i class="icon-time time-00-00"
                               data-toggle="tooltip"
                               data-placement="top"
                               title="Товар будет доступен 07.11.2016 в 12:30"
                            ></i>
                        </td>
                        <td>
                            <span class="price">1066.19 грн</span>
                            <span class="btn btn-primary btn-sm">
                                <i class="fa fa-shopping-basket"></i> Купить
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            9
                            <i class="icon-probability probability-50"
                               data-toggle="tooltip"
                               data-placement="top"
                               title="Вероятность наличия: 85%"
                            ></i>
                        </td>
                        <td>
                            2 дн.
                            <i class="icon-time time-00-05"
                               data-toggle="tooltip"
                               data-placement="top"
                               title="Товар будет доступен 07.11.2016 в 12:30"
                            ></i>
                        </td>
                        <td>
                            <span class="price">1066.19 грн</span>
                            <span class="btn btn-primary btn-sm">
                                <i class="fa fa-shopping-basket"></i> Купить
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <span class="link" data-toggle="modal" data-target="#moreOffer">
                    <span>Еще предложения</span>
                </span>
            </div>
        </div>
    </div>
</div>
