<div class="item">
    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="photo-in" src="images/kroon_oil_02222.png" title="Моторное масло Kroon Oil 02222" alt="Моторное масло Kroon Oil 02222" />
            </a>
            <div class="hint m_b-5">
                <a href="#">
                    <span w3-include-html="views/widgets/rating-star.html"></span>
                    13 отзывов
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <a href="#">
                <span class="title">
                    Масло моторное п/синтетическое "semi synthetic 10w-40", 1л
                </span>
            </a>

            <div class="text-center">
                <span class="btn btn-success btn-xs" data-toggle="modal" data-target="#analogProduct">Аналоги</span>
                <span class="btn btn-success btn-xs">Применяемость</span>
            </div>
            <div class="desc">
                <b>Вязкость:</b> 10W-40<br />
                <b>класс вязкости SAE:</b> 10W-40<br />
                <b>Масло:</b> Полусинтетическое масло<br />
                <b>Объём:</b> 1л<br />
                <b>Описание:</b> Подходит для всех видов бензиновых и дизельных двигателей (как турбированных, так и атмосферных) легковых автомобилей и фургонов.<br />
            </div>
        </div>
        <div class="col-md-6">
            <div class="row offers-list offers-list-line">
                <div class="offers-list-item">
                    <div>
                        <span class="price">
                            7798.66 грн
                        </span>
                    </div>
                    <div>
                        <i class="fa fa-sort-numeric-desc"></i>10 шт.
                    </div>
                    <div>
                        <i class="fa fa-clock-o"></i>2 дн.
                    </div>
                    <div>
                        <span class="btn btn-primary btn-sm btn-block">
                            <i class="fa fa-shopping-basket"></i>Купить
                        </span>
                    </div>
                </div>
                <div class="offers-list-item">
                    <div>
                        <span class="price">
                            7798.66 грн
                        </span>
                    </div>
                    <div>
                        <i class="fa fa-sort-numeric-desc"></i>10 шт.
                    </div>
                    <div>
                        <i class="fa fa-clock-o"></i>2 дн.
                    </div>
                    <div>
                        <span class="btn btn-primary btn-sm btn-block">
                            <i class="fa fa-shopping-basket"></i>Купить
                        </span>
                    </div>
                </div>
                <div class="offers-list-item">
                    <div>
                        <span class="price">
                            7798.66 грн
                        </span>
                    </div>
                    <div>
                        <i class="fa fa-sort-numeric-desc"></i>10 шт.
                    </div>
                    <div>
                        <i class="fa fa-clock-o"></i>2 дн.
                    </div>
                    <div>
                        <span class="btn btn-primary btn-sm btn-block">
                            <i class="fa fa-shopping-basket"></i>Купить
                        </span>
                    </div>
                </div>
                <div class="offers-list-item">
                    <div>
                        <span class="price">
                            7798.66 грн
                        </span>
                    </div>
                    <div>
                        <i class="fa fa-sort-numeric-desc"></i>10 шт.
                    </div>
                    <div>
                        <i class="fa fa-clock-o"></i>2 дн.
                    </div>
                    <div>
                        <span class="btn btn-primary btn-sm btn-block">
                            <i class="fa fa-shopping-basket"></i>Купить
                        </span>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <span class="link" data-toggle="modal" data-target="#moreOffer">
                    <span>Еще предложения</span>
                </span>
            </div>
        </div>
    </div>
</div>
