<div class="item-wrap">
    <div class="item">
        <a class="photo-link" href="#">
            <span class="photo">
                <span class="photo-in">
                    <img src="images/kroon_oil_02222.png" title="Моторное масло Kroon Oil 02222" alt="Моторное масло Kroon Oil 02222" />
                </span>
            </span>
            <span class="title">
                Масло моторное п/синтетическое "semi synthetic 10w-40", 1л
            </span>
        </a>
        <div class="hint m_b-5">
            <a href="#">
                <span w3-include-html="views/widgets/rating-star.html"></span>
                13 отзывов
            </a>
        </div>
        <div class="text-right">
            <span class="btn btn-info btn-xs m_b-10" data-toggle="modal" data-target="#analogProduct">Аналоги</span>
            <span class="btn btn-info btn-xs m_b-10" data-toggle="modal" data-target="#applicabilityPopupProduct">Применяемость</span>
        </div>
        <div class="offers-list">
            <div class="offers-list-item">
                <div class="item-in price">
                    <span class="actual">7798.66 грн</span>
                    <span class="old">7798.66 грн</span>
                </div>
                <div class="item-in">
                <span data-toggle="tooltip"
                      data-placement="top"
                      title="Вероятность наличия: 85%">
                    <i class="fa fa-sort-numeric-desc"></i>&nbsp;&nbsp;10 шт.
                </span>
                </div>
                <div class="item-in">
                <span data-toggle="tooltip"
                      data-placement="top"
                      title="Товар будет доступен 07.11.2016 в 12:30">
                    <i class="fa fa-clock-o"></i>&nbsp;&nbsp;2 дн.
                </span>
                </div>
                <div class="item-in">
                <span class="btn btn-primary btn-sm">
                    <i class="fa fa-shopping-basket"></i>&nbsp;&nbsp;Купить
                </span>
                </div>
            </div>
        </div>
        <div class="item-hidden">
            <div class="offers-list">
                <div class="offers-list-item">
                    <div class="item-in price">
                        <span class="actual">7798.66 грн</span>
                    </div>
                    <div class="item-in">
                    <span data-toggle="tooltip"
                          data-placement="top"
                          title="Вероятность наличия: 85%">
                        <i class="fa fa-sort-numeric-desc"></i>&nbsp;&nbsp;10 шт.
                    </span>
                    </div>
                    <div class="item-in">
                    <span data-toggle="tooltip"
                          data-placement="top"
                          title="Товар будет доступен 07.11.2016 в 12:30">
                        <i class="fa fa-clock-o"></i>&nbsp;&nbsp;2 дн.
                    </span>
                    </div>
                    <div class="item-in">
                    <span class="btn btn-primary btn-sm">
                        <i class="fa fa-shopping-basket"></i>&nbsp;&nbsp;Купить
                    </span>
                    </div>
                </div>
            </div>
            <div class="text-center">
            <span class="link" data-toggle="modal" data-target="#moreOffer">
                <span>Еще предложения</span>
            </span>
            </div>
            <div class="desc">
                <b>Рейтинг бренда:</b> <span w3-include-html="views/widgets/rating-star-blue.html"></span><br />
                <b>Вязкость:</b> 10W-40<br />
                <b>Класс вязкости SAE:</b> 10W-40<br />
                <b>Масло:</b> Полусинтетическое масло<br />
                <b>Объём:</b> 1л<br />
                <b>Описание:</b> Подходит для всех видов бензиновых и дизельных двигателей (как турбированных, так и атмосферных) легковых автомобилей и фургонов.<br />
            </div>
        </div>
    </div>
</div>
