<div class="panel panel-default product-filters">
    <div class="panel-heading">
        <h3 class="panel-title">Подбор по параметрам</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <h4 class="title">Цена</h4>
            <div class="product-filters-price form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" />
                </div>
                &nbsp;-&nbsp;
                <div class="form-group">
                    <input type="text" class="form-control" />
                </div>
                &nbsp;&nbsp;
                <button type="submit" class="btn btn-primary">ОК</button>
            </div>
        </li>
        <li class="list-group-item">
            <h4 class="title">С фото</h4>
            <ul class="product-filters-list list-unstyled">
                <li>
                    <a href="#">
                        <input type="checkbox" /> Фото
                    </a>
                </li>
            </ul>
        </li>
        <li class="list-group-item">
            <h4 class="title">Бренд</h4>
            <div class="scroll-box">
                <ul class="product-filters-list list-unstyled">
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol Bizol Bizol Bizol Bizol Bizol Bizol Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>

                </ul>
            </div>
        </li>
        <li class="list-group-item">
            <h4 class="title">
                Вязкость
                <i class="fa fa-chevron-up pull-right"></i> <!-- TODO при скрітом положении fa-chevron-down -->
            </h4>
            <div class="scroll-box">
                <ul class="product-filters-list list-unstyled">
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol Bizol Bizol Bizol Bizol Bizol Bizol Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>

                </ul>
            </div>
        </li>
        <li class="list-group-item">
            <h4 class="title">Объём</h4>
            <div class="scroll-box">
                <ul class="product-filters-list list-unstyled">
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol Bizol Bizol Bizol Bizol Bizol Bizol Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>

                </ul>
            </div>
        </li>
        <li class="list-group-item">
            <h4 class="title">Спецификации ACEA</h4>
            <div class="scroll-box">
                <ul class="product-filters-list list-unstyled">
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol Bizol Bizol Bizol Bizol Bizol Bizol Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
