<div class="row">
    <div class="col-md-12">
        <div w3-include-html="views/catalog/product/product-layout-header.html"></div>
    </div>
</div>

<div class="row row-md product-grid">
    <div class="col-md-12">
        <div w3-include-html="views/catalog/product/item-list.html"></div>
        <div w3-include-html="views/catalog/product/item-list.html"></div>
        <div w3-include-html="views/catalog/product/item-list.html"></div>
        <div w3-include-html="views/catalog/product/item-list.html"></div>
    </div>
</div>

<div class="text-center m_t-10">
    <span class="btn btn-primary btn-lg">
        Показать еще <i class="fa fa-refresh fa-fw"></i> <!-- TODO при загрузке к fa добалять класс fa-spin -->
    </span>
</div>
