<div class="btn btn-primary btn-lg m_b-10 visible-xs-block" data-filters-btn>
    Фильтр&nbsp;&nbsp;<i class="fa fa-filter"></i>
</div>

<div class="panel panel-default finder-filters" data-filters-container>
    <div class="panel-heading">
        <h3 class="panel-title" data-filters-head>Подбор по параметрам</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <h4 class="title" data-filters-head>Цена</h4>
            <div class="finder-filters-in" data-filters-body>
                <div class="finder-filters-price">
                    <input type="text" class="form-control" />
                    &nbsp;-&nbsp;
                    <input type="text" class="form-control" />
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary">ОК</button>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h4 class="title" data-filters-head>С фото</h4>
            <div class="finder-filters-in" data-filters-body>
                <ul class="finder-filters-list list-unstyled">
                <li>
                    <a href="#">
                        <input type="checkbox" /> Фото
                    </a>
                </li>
            </ul>
            </div>
        </li>
        <li class="list-group-item">
            <h4 class="title" data-filters-head>Бренд</h4>
            <div class="finder-filters-in" data-filters-body>
                <div class="scroll-box">
                <ul class="finder-filters-list list-unstyled">
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol Bizol Bizol Bizol Bizol Bizol Bizol Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>

                </ul>
            </div>
            </div>
        </li>
        <li class="list-group-item">
            <h4 class="title" data-filters-head>
                Вязкость
            </h4>
            <div class="finder-filters-in" data-filters-body>
                <div class="scroll-box">
                    <ul class="finder-filters-list list-unstyled">
                        <li>
                            <a href="#">
                                <input type="checkbox" /> Bizol Bizol Bizol Bizol Bizol Bizol Bizol Bizol
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <input type="checkbox" /> Bizol
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <input type="checkbox" /> Bizol
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <input type="checkbox" /> Bizol
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <input type="checkbox" /> Bizol
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <input type="checkbox" /> Bizol
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <input type="checkbox" /> Bizol
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <input type="checkbox" /> Bizol
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <input type="checkbox" /> Bizol
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <input type="checkbox" /> Bizol
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <input type="checkbox" /> Bizol
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <input type="checkbox" /> Bizol
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <input type="checkbox" /> Bizol
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <input type="checkbox" /> Bizol
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h4 class="title" data-filters-head>Объём</h4>
            <div class="finder-filters-in" data-filters-body>
                <div class="scroll-box">
                <ul class="finder-filters-list list-unstyled">
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol Bizol Bizol Bizol Bizol Bizol Bizol Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>

                </ul>
            </div>
            </div>
        </li>
        <li class="list-group-item">
            <h4 class="title" data-filters-head>Спецификации ACEA</h4>
            <div class="finder-filters-in" data-filters-body>
                <div class="scroll-box">
                <ul class="finder-filters-list list-unstyled">
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol Bizol Bizol Bizol Bizol Bizol Bizol Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" /> Bizol
                        </a>
                    </li>
                </ul>
            </div>
            </div>
        </li>
    </ul>
</div>
