<div class="border-box filter-active m_b-10">
    <p>Подобрано <b>21</b> товар из <b>3648</b></p>
    <span class="btn btn-default btn-sm m_b-5">
        Фильтр 1<i class="fa fa-close red m_l-10"></i>
    </span>
    <span class="btn btn-default btn-sm m_b-5">
        Фильтр 2<i class="fa fa-close red m_l-10"></i>
    </span>
    <span class="btn btn-default btn-sm m_b-5">
        Фильтр 3<i class="fa fa-close red m_l-10"></i>
    </span>
    <span class="btn btn-default btn-sm m_b-5">
        Фильтр 4<i class="fa fa-close red m_l-10"></i>
    </span>
    <span class="btn btn-link btn-sm m_b-5">
        Убрать все фильтра
    </span>
</div>

<div class="well well-sm clearfix">
    <span class="hint hidden-xs">Сортировать по:&nbsp;</span>
    <div class="btn-group sort-btn-groupe">
        <span class="btn btn-default sorts-btn dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-sort"></i>&nbsp;&nbsp;по умолчанию&nbsp;&nbsp;<span class="caret"></span>
        </span>
        <ul class="dropdown-menu">
            <li><a href="#">Артикул</a></li>
            <li><a href="#">Бренд</a></li>
            <li><a href="#">Наличие</a></li>
            <li><a href="#">Срок поставки</a></li>
            <li><a href="#">Цена</a></li>
            <li><a href="#">Рейтинг бренда 1</a></li>
        </ul>
    </div>
    <div class="pull-right">
        <div class="btn-group">
            <a class="btn btn-default btn-primary" href="#">
                <i class="fa fa-th-large"></i>
            </a>
            <a class="btn btn-default" href="#">
                <i class="fa fa-th-list"></i>
            </a>
        </div>
    </div>
</div>
