<h2 class="m_t-0">
    Характеристики <small>Моторное масло Kroon Oil 02222</small>
</h2>
<dl class="dl-horizontal">
    <dt>Производитель:</dt>
    <dd>Kroon Oil</dd>
    <dt>Рейтинг бренда:</dt>
    <dd>?</dd>
    <dt>Вязкость</dt>
    <dd>10W-40</dd>
    <dt>Класс вязкости SAE:</dt>
    <dd>10W-40</dd>
    <dt>Тип основы масла:</dt>
    <dd>Полусинтетическое масло</dd>
    <dt>Разрешение производителя:</dt>
    <dd>MB 229.1; Renault RN0700; VW 501.01/505.00</dd>
    <dt>Спецификации ACEA:</dt>
    <dd>A3; B4</dd>
    <dt>Спецификации API:</dt>
    <dd>CF; SN</dd>
    <dt>Спецификации OEM:</dt>
    <dd>MB 229.1</dd>
    <dt>Спецификация:</dt>
    <dd>ACEA A3/B4-12; API SN/CF</dd>
    <dt>Тип контейнера:</dt>
    <dd>Бутылка</dd>
</dl>
