<div class="border-box filter-active m_b-10">
    <p>Подобрано <b>21</b> товар из <b>3648</b></p>
    <span class="btn btn-default btn-sm m_b-5">
        Фильтр 1<i class="fa fa-close red m_l-10"></i>
    </span>
    <span class="btn btn-default btn-sm m_b-5">
        Фильтр 2<i class="fa fa-close red m_l-10"></i>
    </span>
    <span class="btn btn-default btn-sm m_b-5">
        Фильтр 3<i class="fa fa-close red m_l-10"></i>
    </span>
    <span class="btn btn-default btn-sm m_b-5">
        Фильтр 4<i class="fa fa-close red m_l-10"></i>
    </span>
    <span class="btn btn-link btn-sm m_b-5">
        Убрать все фильтра
    </span>
</div>

<div class="well well-sm clearfix">
    <div class="pull-left">
        <span class="hint hidden-xs">Сортировать по:&nbsp;</span>
        <div class="sort">
            <div class="input-group input-group-right">
                <select class="form-control" data-chosen-select>
                    <option value="1" selected="selected">Популярность</option>
                    <option value="2">Дата</option>
                    <option value="3">Выставленная оценка</option>
                </select>
                <span class="input-group-addon"><i class="fa fa-sort-amount-desc"></i></span> <!-- TODO сориторовка возрастание убывание смена класса fa-flip-vertical -->
            </div>
        </div>
    </div>
    <div class="pull-right">
        <div class="btn-group">
            <a class="btn btn-default btn-primary" href="#">
                <i class="fa fa-th-large"></i>
            </a>
            <a class="btn btn-default" href="#">
                <i class="fa fa-th-list"></i>
            </a>
        </div>
    </div>
</div>
