<div class="owl-carousel owl-theme pub-carousel" data-carousel-publication>
    <div class="item">
        <a href="#">
            <img class="owl-lazy" data-src="http://placehold.it/285x200&text=Photo" alt="Черная пятница! Самые большие скидки в Интернете" />
            <span class="category hint">Амортизатор Kamoka</span>
            <span class="title">Черная пятница! Самые большие скидки в Интернете</span>
        </a>
        <div class="clearfix">
            <div class="pull-left hint">
                <a href="#">
                    <span w3-include-html="views/widgets/rating-star.html"></span>
                    13 отзывов
                </a>
            </div>
            <div class="pull-right hint">
                13.09.2015
            </div>
        </div>
        <div class="desc">
            Главная распродажа года! В эту Пятницу цены на все автозапчасти будут снижены до максимального предела...
        </div>
    </div>
    <div class="item">
        <a href="#">
            <img class="owl-lazy" data-src="http://placehold.it/285x200&text=Photo" alt="Черная пятница! Самые большие скидки в Интернете" />
            <span class="category hint">Амортизатор Kamoka</span>
            <span class="title">Черная пятница! Самые большие скидки в Интернете</span>
        </a>
        <div class="clearfix">
            <div class="pull-left hint">
                <a href="#">
                    <span w3-include-html="views/widgets/rating-star.html"></span>
                    13 отзывов
                </a>
            </div>
            <div class="pull-right hint">
                13.09.2015
            </div>
        </div>
        <div class="desc">
            Главная распродажа года! В эту Пятницу цены на все автозапчасти будут снижены до максимального предела...
        </div>
    </div>
    <div class="item">
        <a href="#">
            <img class="owl-lazy" data-src="http://placehold.it/285x200&text=Photo" alt="Черная пятница! Самые большие скидки в Интернете" />
            <span class="category hint">Амортизатор Kamoka</span>
            <span class="title">Черная пятница! Самые большие скидки в Интернете</span>
        </a>
        <div class="clearfix">
            <div class="pull-left hint">
                <a href="#">
                    <span w3-include-html="views/widgets/rating-star.html"></span>
                    13 отзывов
                </a>
            </div>
            <div class="pull-right hint">
                13.09.2015
            </div>
        </div>
        <div class="desc">
            Главная распродажа года! В эту Пятницу цены на все автозапчасти будут снижены до максимального предела...
        </div>
    </div>
    <div class="item">
        <a href="#">
            <img class="owl-lazy" data-src="http://placehold.it/285x200&text=Photo" alt="Черная пятница! Самые большие скидки в Интернете" />
            <span class="category hint">Амортизатор Kamoka</span>
            <span class="title">Черная пятница! Самые большие скидки в Интернете</span>
        </a>
        <div class="clearfix">
            <div class="pull-left hint">
                <a href="#">
                    <span w3-include-html="views/widgets/rating-star.html"></span>
                    13 отзывов
                </a>
            </div>
            <div class="pull-right hint">
                13.09.2015
            </div>
        </div>
        <div class="desc">
            Главная распродажа года! В эту Пятницу цены на все автозапчасти будут снижены до максимального предела...
        </div>
    </div>
    <div class="item">
        <a href="#">
            <img class="owl-lazy" data-src="http://placehold.it/285x200&text=Photo" alt="Черная пятница! Самые большие скидки в Интернете" />
            <span class="category hint">Амортизатор Kamoka</span>
            <span class="title">Черная пятница! Самые большие скидки в Интернете</span>
        </a>
        <div class="clearfix">
            <div class="pull-left hint">
                <a href="#">
                    <span w3-include-html="views/widgets/rating-star.html"></span>
                    13 отзывов
                </a>
            </div>
            <div class="pull-right hint">
                13.09.2015
            </div>
        </div>
        <div class="desc">
            Главная распродажа года! В эту Пятницу цены на все автозапчасти будут снижены до максимального предела...
        </div>
    </div>
    <div class="item">
        <a href="#">
            <img class="owl-lazy" data-src="http://placehold.it/285x200&text=Photo" alt="Черная пятница! Самые большие скидки в Интернете" />
            <span class="category hint">Амортизатор Kamoka</span>
            <span class="title">Черная пятница! Самые большие скидки в Интернете</span>
        </a>
        <div class="clearfix">
            <div class="pull-left hint">
                <a href="#">
                    <span w3-include-html="views/widgets/rating-star.html"></span>
                    13 отзывов
                </a>
            </div>
            <div class="pull-right hint">
                13.09.2015
            </div>
        </div>
        <div class="desc">
            Главная распродажа года! В эту Пятницу цены на все автозапчасти будут снижены до максимального предела...
        </div>
    </div>
</div>
<div class="text-right m_t-10">
    <a class="link m_r-10" href="#"><span>Все статьи</span></a>
    <a href="#" target="_blank" title="Подписаться на rss" rel="alternate" type="application/rss+xml">
        <i class="fa fa-rss red"></i>
    </a>
</div>
