<div class="box-b-carousel">
    <div class="owl-carousel owl-theme" data-carousel-banner>
        <div class="item text-center">
            <a href="" target="_blank">
                <h3>СТО</h3>
                <img src="images/no_logo.png" alt="" />
            </a>
            <p>
                <i class="fa fa-map-marker"></i> г. Васильков, ул. Декабристов, 43<br >
                <i class="fa fa-phone"></i>  050-3-555-707
            </p>
            <a href="#">
                <span w3-include-html="views/widgets/rating-star.html"></span> 22
            </a>
        </div>
    </div>
</div>
