<div class="reviews row">
    <div class="col-md-9 m_b-20">
        <div w3-include-html="views/widgets/reviews.html"></div>
    </div>
    <div class="col-md-3 m_b-20">
        <h3 class="m_t-0">Рейтинг раздела</h3>
        <div class="m_b-20">
            <span class="rating-star star-lg">
                <span w3-include-html="views/widgets/star/star-o.html"></span>
                <span class="status" style="width: 90%;">
                    <span w3-include-html="views/widgets/star/star.html"></span>
                </span>
            </span>

            <i class="fa fa-user"></i> 26
        </div>

        <div class="m_b-20">
            Button social
        </div>

        <div w3-include-html="views/layouts/banner-social.html"></div>
    </div>
</div>
