<div class="reviews row">
    <div class="col-md-9 m_b-20">
        <div class="clearfix">
            <div class="pull-left">
                <span class="btn btn-primary" data-toggle="modal" data-target="#formReviews">
                    Оставить отзыв
                </span>
            </div>
            <div class="pull-right sort">
                <span class="hint">Сортировка по:</span>
                <div class="sort-in">
                    <div class="input-group">
                        <select class="form-control">
                            <option value="1" selected="selected">Популярность</option>
                            <option value="2">Дата</option>
                            <option value="3">Выставленная оценка</option>
                        </select>
                        <span class="input-group-addon"><i class="fa fa-sort-amount-desc"></i></span> <!-- TODO сориторовка возрастание убывание смена класса fa-flip-vertical -->
                    </div>
                </div>
            </div>
        </div>
        <div class="reviews-in">
            <div class="item media">
                <div class="reviews-rating media-left">
                    <span class="plus">
                        <i class="fa fa-thumbs-o-up"></i>
                    </span>
                    <span class="minus">
                        <i class="fa fa-thumbs-o-down"></i>
                    </span>
                    <span class="count">454</span>
                </div>
                <div class="media-body">
                    <p class="reviews-heading clearfix">
                        <span class="m_r-10">
                            <i class="fa fa-user"></i> <b>Денис</b>
                        </span>

                        <span w3-include-html="views/widgets/rating-star.html"></span>

                        <span class="pull-right hint">
                            <i class="fa fa-calendar"></i> 28 октября 2014
                        </span>
                    </p>

                    <p>
                        Очень доволен работой данной компании. Всегда заказывал по адресу Ушинского 38 - ни разу не вернул запчасть. По моей машине Тойота Кэмри почти всегда находил детали
                    </p>

                    <span class="link" data-toggle="modal" data-target="#formReviews"><i class="fa fa-reply"></i> <span>Ответить</span></span>

                    <div class="item media">
                        <div class="reviews-rating media-left">
                            <span class="plus">
                                <i class="fa fa-thumbs-o-up"></i>
                            </span>
                            <span class="minus">
                                <i class="fa fa-thumbs-o-down"></i>
                            </span>
                            <span class="count">454</span>
                        </div>
                        <div class="media-body">
                            <p class="reviews-heading clearfix">
                                <span class="m_r-10">
                                    <i class="fa fa-user"></i> <b>Денис</b>
                                </span>

                                <span w3-include-html="views/widgets/rating-star.html"></span>

                                <span class="pull-right hint">
                                    <i class="fa fa-calendar"></i> 28 октября 2014
                                </span>
                            </p>

                            <p>
                                Очень доволен работой данной компании. Всегда заказывал по адресу Ушинского 38 - ни разу не вернул запчасть. По моей машине Тойота Кэмри почти всегда находил детали
                            </p>

                            <span class="link" data-toggle="modal" data-target="#formReviews"><i class="fa fa-reply"></i> <span>Ответить</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item media">
                <div class="reviews-rating media-left">
                    <span class="plus">
                        <i class="fa fa-thumbs-o-up"></i>
                    </span>
                    <span class="minus">
                        <i class="fa fa-thumbs-o-down"></i>
                    </span>
                    <span class="count">454</span>
                </div>
                <div class="media-body">
                    <p class="reviews-heading clearfix">
                        <span class="m_r-10">
                            <i class="fa fa-user"></i> <b>Денис</b>
                        </span>

                        <span w3-include-html="views/widgets/rating-star.html"></span>

                        <span class="pull-right hint">
                            <i class="fa fa-calendar"></i> 28 октября 2014
                        </span>
                    </p>

                    <p class="pros-cons pros">
                        <i class="fa fa-plus"></i>
                        Цена, выбор, оперативность, хорошие менеджеры
                    </p>

                    <p>
                        Очень доволен работой данной компании. Всегда заказывал по адресу Ушинского 38 - ни разу не вернул запчасть. По моей машине Тойота Кэмри почти всегда находил детали
                    </p>

                    <span class="link" data-toggle="modal" data-target="#formReviews"><i class="fa fa-reply"></i> <span>Ответить</span></span>
                </div>
            </div>
            <div class="item media">
                <div class="reviews-rating media-left">
                    <span class="plus">
                        <i class="fa fa-thumbs-o-up"></i>
                    </span>
                    <span class="minus">
                        <i class="fa fa-thumbs-o-down"></i>
                    </span>
                    <span class="count">454</span>
                </div>
                <div class="media-body">
                    <p class="reviews-heading clearfix">
                        <span class="m_r-10">
                            <i class="fa fa-user"></i> <b>Денис</b>
                        </span>

                        <span w3-include-html="views/widgets/rating-star.html"></span>

                        <span class="pull-right hint">
                            <i class="fa fa-calendar"></i> 28 октября 2014
                        </span>
                    </p>

                    <p class="pros-cons pros">
                        <i class="fa fa-plus"></i>
                        Цена, выбор, оперативность, хорошие менеджеры
                    </p>

                    <p class="pros-cons cons">
                        <i class="fa fa-minus"></i>
                        Пока не заметил.
                    </p>

                    <p>
                        Очень доволен работой данной компании. Всегда заказывал по адресу Ушинского 38 - ни разу не вернул запчасть. По моей машине Тойота Кэмри почти всегда находил детали
                    </p>

                    <span class="link" data-toggle="modal" data-target="#formReviews"><i class="fa fa-reply"></i> <span>Ответить</span></span>
                </div>
            </div>
            <div class="text-center m_t-10">
                <span class="btn btn-primary btn-lg">
                    Показать еще <i class="fa fa-refresh fa-fw"></i> <!-- TODO при загрузке к fa добалять класс fa-spin -->
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 m_b-20">
        <h3 class="m_t-0">Рейтинг раздела</h3>
        <div class="m_b-20">
            <span class="rating-star star-lg">
                <span w3-include-html="views/widgets/star/star-o.html"></span>
                <span class="status" style="width: 90%;">
                    <span w3-include-html="views/widgets/star/star.html"></span>
                </span>
            </span>

            <i class="fa fa-user"></i> 26
        </div>

        <div class="m_b-20">
            Button social
        </div>

        <div w3-include-html="views/layouts/banner-social.html"></div>
    </div>
</div>
