<div class="row m_b-20">
    <div class="col-md-12">
        <h2>Сейчас ищут</h2>
        <div class="owl-carousel owl-theme product-grid" data-carousel-product>
            <div w3-include-html="views/catalog/product-grid-carousel.html"></div>
            <div w3-include-html="views/catalog/product-grid-carousel.html"></div>
            <div w3-include-html="views/catalog/product-grid-carousel.html"></div>
            <div w3-include-html="views/catalog/product-grid-carousel.html"></div>
            <div w3-include-html="views/catalog/product-grid-carousel.html"></div>
            <div w3-include-html="views/catalog/product-grid-carousel.html"></div>
        </div>
    </div>
</div>
