<div class="viewbox">
    <h2 class="m_t-0">Сейчас ищут</h2>
    <div class="owl-carousel owl-theme product-grid" data-carousel-product>
        <div w3-include-html="views/catalog/product-grid-carousel.html"></div>
        <div w3-include-html="views/catalog/product-grid-carousel.html"></div>
        <div w3-include-html="views/catalog/product-grid-carousel.html"></div>
        <div w3-include-html="views/catalog/product-grid-carousel.html"></div>
        <div w3-include-html="views/catalog/product-grid-carousel.html"></div>
        <div w3-include-html="views/catalog/product-grid-carousel.html"></div>
    </div>
</div>
