<div class="box-b-carousel">
    <div class="owl-carousel owl-theme" data-carousel-banner>
        <div class="item text-center">
            <a href="http://admiral-c.com.ua/universal_product/battery/10142-b22916-b2405-b2206-b2184/" target="_blank">
                <span class="m_b-5">
                    Акция на автомобильные аккумуляторы!
                </span>
                <img src="http://akkumulyatory-avtomobilnyye.com.ua/images/stories/116.jpg"
                     alt="Акция на автомобильные аккумуляторы!"
                     title="Акция на автомобильные аккумуляторы!"
                />
                <span class="h3 red">1041.60грн.</span>
                <span class="hint">Акция до 29.10.2016</span>
            </a>
        </div>
        <div class="item">
            <a href="" target="_blank">
                <img src="http://placehold.it/300x250&text=Баннер+1" alt="" />
            </a>
        </div>
        <div class="item">
            <a href="" target="_blank">
                <img src="http://placehold.it/300x250&text=Баннер+2" alt="" />
            </a>
        </div>
    </div>
</div>
