<div class="border-box m_b-20">
    <div class="clearfix m_b-10">
        <p class="h3 m_t-5 pull-left">
            Ваше авто
        </p>
        <button class="btn btn-primary btn-sm pull-right" id="catalog_selector_change">
            Сменить авто
        </button>
    </div>

    <div class="card-car">

        <img src="http://admiral-c.com.ua/images/catalog/new_car_models/7035.png" title="Nissan 180 SX (S13) 1.8" alt="Nissan 180 SX (S13) 1.8" />

        <p class="h4">
            <b>
                Nissan 180 SX (S13) 1.8
            </b>
        </p>
        <span class="desc">
            купе
        </span>

        <span class="desc">
            <b>
                09.1988 - 06.1992
            </b>
        </span>
        <span class="desc">
            132 л.с. / 97 кВт / бензин
        </span>

        <span class="desc">
            <i>
                Серия двигателя: CA18DE
            </i>
        </span>

    </div>
</div>
