<div class="border-box card-model m_b-20">
    <h3 class="title">Audi</h3>
    <img class="brand-logo" src="images/audi.gif" title="Brand name" alt="Brand name" />
    <img class="brand-photo" src="images/5143.png" title="Brand name" alt="Brand name" />
    <h4><b>A3 Sportback (8Pa) 1.2 TSI</b></h4>
    <ul class="list-unstyled m_b-0 text-md">
        <li>Дата выпуска: <b>2010 - 2013</b></li>
        <li>Привод: <b>Привод на передние колеса</b></li>
        <li>Кузов: <b>хэтчбек</b></li>
        <li>Двигатель: <b>бензин, CBZB, 105 л.с., 77 кВт</b></li>
    </ul>
</div>
