<table class="table cart-table">
    <thead>
        <tr>
            <th>Имя</th>
            <th class="td-small">Время поставки<sup>*</sup></th>
            <th class="td-small">Кол-во</th>
            <th class="td-small">Цена</th>
            <th class="td-small"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>LOTOS 0154502</td>
            <td class="td-small">
                <i class="icon-time time-00-00"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Товар будет доступен 07.11.2016 в 12:30"
                ></i><br />
                2 дн.
            </td>
            <td class="td-small quantity">
                <span class="quantity-in fa-stack red">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-minus fa-stack-1x fa-inverse"></i>
                </span>
                <span class="quantity-in">1</span>
                <span class="quantity-in fa-stack green">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                </span>
            </td>
            <td class="td-small"><b>74.14</b> <small>грн</small></td>
            <td class="td-small">
                <span class="remove fa-stack">
                  <i class="fa fa-circle-o fa-stack-2x"></i>
                  <i class="fa fa-close fa-stack-1x"></i>
                </span>
            </td>
        </tr>
    <tr>
        <td>LOTOS 0154502</td>
        <td class="td-small">
            <i class="icon-time time-00-00"
               data-toggle="tooltip"
               data-placement="top"
               title="Товар будет доступен 07.11.2016 в 12:30"
            ></i><br />
            2 дн.
        </td>
        <td class="td-small quantity">
            <span class="quantity-in fa-stack red">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-minus fa-stack-1x fa-inverse"></i>
            </span>
            <span class="quantity-in">1</span>
            <span class="quantity-in fa-stack green">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
            </span>
        </td>
        <td class="td-small"><b>95.22</b> <small>грн</small></td>
        <td class="td-small">
            <span class="remove fa-stack">
              <i class="fa fa-circle-o fa-stack-2x"></i>
              <i class="fa fa-close fa-stack-1x"></i>
            </span>
        </td>
    </tr>
    </tbody>
</table>
<hr />
<div class="row">
    <div class="col-md-6 col-md-push-6 m_b-20">
        <div class="h1 text-right m_t-0"><small>Общая сумма:</small> <b>318.49</b> <small>грн</small></div>
    </div>
    <div class="col-md-6 col-md-pull-6 m_b-20">
        <h4><b>Приблизительное время поставки заказа:</b><sup>*</sup></h4>
        2 дн.
        <i class="icon-time time-00-00"
           data-toggle="tooltip"
           data-placement="top"
           title="Товар будет доступен 07.11.2016 в 12:30"
        ></i>
    </div>
</div>

<div class="hint m_b-20">
    * - Указано приблизительное время поставки
</div>

<div class="border-box">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Склад отгрузки</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-map-marker fa-lg"></i></span>
                    <select class="form-control">
                        <option value="1">Склад отгрузки</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">E-mail</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input class="form-control" type="text" placeholder="Электронная почта" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Ф.И.О.<sup class="red">*</sup></label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input class="form-control" type="text" placeholder="Ваше имя" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Телефон<sup class="red">*</sup></label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    <input class="form-control" type="text" placeholder="Телефон" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Доставка</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                    <select class="form-control">
                        <option value="1">Доставка</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Метод оплаты</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                    <select class="form-control">
                        <option value="1">Метод оплаты</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Примечание</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-align-justify"></i></span>
                    <textarea class="form-control" maxlength="5000" placeholder="Примечание"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary">Подтвердить заказ</button>
            </div>
        </div>
    </form>
</div>
