<div class="well well-sm clearfix">
    <div class="row">
        <div class="col-md-6">
            <h3 class="h3-well">
                Популярные модели
            </h3>
        </div>
        <div class="col-md-6 text-right">
            <div class="form-inline">
                <div class="form-group search-icon">
                    <span class="hint">Быстрый поиск:</span>
                    <input class="form-control" type="text" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-md catalog-grid m_b-20">
    <div class="col-md-3">
        <div w3-include-html="views/catalog/catalog-item-model.html"></div>
    </div>
    <div class="col-md-3">
        <div w3-include-html="views/catalog/catalog-item-model.html"></div>
    </div>
    <div class="col-md-3">
        <div w3-include-html="views/catalog/catalog-item-model.html"></div>
    </div>
    <div class="col-md-3">
        <div w3-include-html="views/catalog/catalog-item-model.html"></div>
    </div>
    <div class="col-md-3">
        <div w3-include-html="views/catalog/catalog-item-model.html"></div>
    </div>
    <div class="col-md-3">
        <div w3-include-html="views/catalog/catalog-item-model.html"></div>
    </div>
    <div class="col-md-3">
        <div w3-include-html="views/catalog/catalog-item-model.html"></div>
    </div>
</div>

<div class="well well-sm">
    <h3 class="h3-well">
        Остальные модели
    </h3>
</div>

<div class="row row-md catalog-grid">
    <div class="col-md-3">
        <div w3-include-html="views/catalog/catalog-item-model.html"></div>
    </div>
    <div class="col-md-3">
        <div w3-include-html="views/catalog/catalog-item-model.html"></div>
    </div>
    <div class="col-md-3">
        <div w3-include-html="views/catalog/catalog-item-model.html"></div>
    </div>
    <div class="col-md-3">
        <div w3-include-html="views/catalog/catalog-item-model.html"></div>
    </div>
    <div class="col-md-3">
        <div w3-include-html="views/catalog/catalog-item-model.html"></div>
    </div>
    <div class="col-md-3">
        <div w3-include-html="views/catalog/catalog-item-model.html"></div>
    </div>
    <div class="col-md-3">
        <div w3-include-html="views/catalog/catalog-item-model.html"></div>
    </div>
</div>
