<div class="well well-sm clearfix">
    <a href="#"
       class="btn btn-default"
    >
        <i class="fa fa-car"></i><span class="hidden-xs">&nbsp;&nbsp;Легковые автомобили</span>
    </a>
    <a href="#"
       class="btn btn-default"
    >
        <i class="fa fa-truck"></i><span class="hidden-xs">&nbsp;&nbsp;Грузовые автомобили</span>
    </a>
    <a href="#"
       class="btn btn-default pull-right"
       data-toggle="modal"
       data-target="#requestVin"
    >
        <i class="fa fa-qrcode"></i><span class="hidden-xs">&nbsp;&nbsp;Запрос по</span> VIN
    </a>
</div>
<div class="row row-md catalog-grid catalog-grid-sm">
    <div class="col-md-2">
        <div w3-include-html="views/catalog/catalog-item-brand.html"></div>
    </div>
    <div class="col-md-2">
        <div w3-include-html="views/catalog/catalog-item-brand.html"></div>
    </div>
    <div class="col-md-2">
        <div w3-include-html="views/catalog/catalog-item-brand.html"></div>
    </div>
    <div class="col-md-2">
        <div w3-include-html="views/catalog/catalog-item-brand.html"></div>
    </div>
    <div class="col-md-2">
        <div w3-include-html="views/catalog/catalog-item-brand.html"></div>
    </div>
    <div class="col-md-2">
        <div w3-include-html="views/catalog/catalog-item-brand.html"></div>
    </div>
    <div class="col-md-2">
        <div w3-include-html="views/catalog/catalog-item-brand.html"></div>
    </div>
    <div class="col-md-2">
        <div w3-include-html="views/catalog/catalog-item-brand.html"></div>
    </div>
    <div class="col-md-2">
        <div w3-include-html="views/catalog/catalog-item-brand.html"></div>
    </div>
    <div class="col-md-2">
        <div w3-include-html="views/catalog/catalog-item-brand.html"></div>
    </div>
</div>
