<div class="row row-md catalog-grid">
    <div class="col-md-4">
        <div w3-include-html="views/catalog/catalog-item.html"></div>
    </div>
    <div class="col-md-4">
        <div w3-include-html="views/catalog/catalog-item.html"></div>
    </div>
    <div class="col-md-4">
        <div w3-include-html="views/catalog/catalog-item.html"></div>
    </div>
    <div class="col-md-4">
        <div w3-include-html="views/catalog/catalog-item.html"></div>
    </div>
    <div class="col-md-4">
        <div w3-include-html="views/catalog/catalog-item.html"></div>
    </div>
    <div class="col-md-4">
        <div w3-include-html="views/catalog/catalog-item.html"></div>
    </div>
    <div class="col-md-4">
        <div w3-include-html="views/catalog/catalog-item.html"></div>
    </div>
</div>
