<ul class="catalog-tree">
    <li class="active">
        <span>
            Автокосметика
        </span>
        <ul>
            <li>
                <span>
                    Автокосметика
                </span>
            </li>
            <li class="active">
                <span>
                    Автокосметика
                </span>
                <ul>
                    <li>
                        <span>
                            Автокосметика
                        </span>
                    </li>
                    <li>
                        <span>
                            Автокосметика
                        </span>
                    </li>
                    <li>
                        <span>
                            Автокосметика
                        </span>
                    </li>
                    <li>
                        <a href="#">
                            Автокосметика
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <span>
                    Автокосметика
                </span>
            </li>
            <li>
                <a href="#">
                    Автокосметика
                </a>
            </li>
        </ul>
    </li>
    <li>
        <span>
            Автокосметика
        </span>
    </li>
    <li>
        <span>
            Автокосметика
        </span>
    </li>
    <li>
        <a href="#">
            Автокосметика
        </a>
    </li>
</ul>
