<div w3-include-html="views/catalog/catalog-layout-page-header.html"></div>

<p class="h2 text-center">
    <b>К сожалению данного товара временно нет в наличии, но Вы можете:</b>
</p>

<div class="row row-md catalog-grid">
    <div class="col-md-4">
        <div class="item">
            <a href="#">
                <img src="images/sto.png" title="" alt="" />
                подобрать СТО
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="item">
            <a href="#">
                <img src="images/vin.png" title="" alt="" />
                сделать запрос по VIN-коду
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="item">
            <a href="#">
                <img src="images/oil.png" title="" alt="" />
                подобрать масла и автохимию
            </a>
        </div>
    </div>
</div>

<p class="h3">
    Воспользоваться оригинальным каталогом:
</p>
<div class="row">
    <div class="col-md-6">
        <div class="border-box">
            <div w3-include-html="views/catalog/vin-search.html"></div>
        </div>
    </div>
    <div class="col-md-6">
        <ul class="list-unstyled row text-md">
            <li class="col-md-4">
                <a href="#">AUDI</a>
            </li>
            <li class="col-md-4">
                <a href="#">AUDI</a>
            </li>
            <li class="col-md-4">
                <a href="#">AUDI</a>
            </li>
            <li class="col-md-4">
                <a href="#">AUDI</a>
            </li>
            <li class="col-md-4">
                <a href="#">AUDI</a>
            </li>
            <li class="col-md-4">
                <a href="#">AUDI</a>
            </li>
            <li class="col-md-4">
                <a href="#">AUDI</a>
            </li>
            <li class="col-md-4">
                <a href="#">AUDI</a>
            </li>
            <li class="col-md-4">
                <a href="#">AUDI</a>
            </li>

        </ul>
    </div>
</div>

<p class="h2 text-center">
    Популярные автозапчасти
</p>
<div class="row row-md catalog-grid catalog-grid-sm">
    <div class="col-md-2">
        <div w3-include-html="views/catalog/catalog-item-brand.html"></div>
    </div>
    <div class="col-md-2">
        <div w3-include-html="views/catalog/catalog-item-brand.html"></div>
    </div>
    <div class="col-md-2">
        <div w3-include-html="views/catalog/catalog-item-brand.html"></div>
    </div>
    <div class="col-md-2">
        <div w3-include-html="views/catalog/catalog-item-brand.html"></div>
    </div>
    <div class="col-md-2">
        <div w3-include-html="views/catalog/catalog-item-brand.html"></div>
    </div>
    <div class="col-md-2">
        <div w3-include-html="views/catalog/catalog-item-brand.html"></div>
    </div>
    <div class="col-md-2">
        <div w3-include-html="views/catalog/catalog-item-brand.html"></div>
    </div>
    <div class="col-md-2">
        <div w3-include-html="views/catalog/catalog-item-brand.html"></div>
    </div>
    <div class="col-md-2">
        <div w3-include-html="views/catalog/catalog-item-brand.html"></div>
    </div>
    <div class="col-md-2">
        <div w3-include-html="views/catalog/catalog-item-brand.html"></div>
    </div>
</div>
