<ul class="catalog-tree">
    <li class="item active">
        Автокосметика
    </li>
    <li class="item item-stage-1">
        Автокосметика
    </li>
    <li class="item item-stage-1 item-link">
        <a href="#">
            Автокосметика
        </a>
    </li>
    <li class="item item-stage-2">
        Автокосметика
    </li>
    <li class="item item-stage-2">
        Автокосметика
    </li>
    <li class="item item-stage-2 item-link">
        <a href="#">
            Автокосметика
        </a>
    </li>
    <li class="item item-stage-3">
        Автокосметика
    </li>
    <li class="item item-stage-3">
        Автокосметика
    </li>
    <li class="item item-stage-3 item-link">
        <a href="#">
            Автокосметика
        </a>
    </li>
    <li class="item item-stage-3">
        Автокосметика
    </li>
    <li class="item item-stage-3">
        Автокосметика
    </li>
    <li class="item item-stage-2">
        Автокосметика
    </li>
    <li class="item item-stage-2">
        Автокосметика
    </li>
    <li class="item item-stage-1">
        Автокосметика
    </li>
    <li class="item item-stage-1">
        Автокосметика
    </li>
    <li class="item item-stage-1">
        Автокосметика
    </li>
    <li class="item">
        Автокосметика
    </li>
    <li class="item">
        Автокосметика
    </li>
    <li class="item">
        Автокосметика
    </li>
</ul>
