<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Подбор по городу</h3>
    </div>
    <div class="panel-body">
        <span class="btn btn-primary m_b-5">
            Lexus
        </span>
        <span class="btn btn-primary m_b-5">
            Mercedes
        </span>
        <span class="btn btn-primary m_b-5">
            Toyota
        </span>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Подбор по марке авто</h3>
    </div>
    <div class="panel-body">
        <span class="btn btn-primary m_b-5">
            Lexus
        </span>
        <span class="btn btn-primary m_b-5">
            Mercedes
        </span>
        <span class="btn btn-primary m_b-5">
            Toyota
        </span>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Подбор по видам работ</h3>
    </div>
    <div class="panel-body">
        <span class="btn btn-primary m_b-5">
            Lexus
        </span>
        <span class="btn btn-primary m_b-5">
            Mercedes
        </span>
        <span class="btn btn-primary m_b-5">
            Toyota
        </span>
    </div>
</div>

<h2>Выбрать на карте</h2>

<div w3-include-html="views/catalog/sto-layout.html"></div>
