<div class="form-order">
    <h3 class="m_t-0">Быстрый заказ</h3>
    <form action="#">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                <input class="form-control" type="text" placeholder="Телефон" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-align-justify"></i></span>
                <textarea class="form-control" maxlength="5000" placeholder="Текст сообщения"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
