<div class="well well-sm">
    <div class="row">
        <div class="col-md-2 col-sm-2">
            <div class="btn-group limit-btn-groupe">
                <a href="#" class="btn btn-default limit-btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-eye"></i>&nbsp;&nbsp;15&nbsp;&nbsp;<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="http://buffalo.ua/ru/poker/?limit=25">25</a></li>
                    <li><a href="http://buffalo.ua/ru/poker/?limit=50">50</a></li>
                    <li><a href="http://buffalo.ua/ru/poker/?limit=75">75</a></li>
                    <li><a href="http://buffalo.ua/ru/poker/?limit=100">100</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-7 col-sm-7 text-center">
            <span class="hidden-xs">Сортировать по:&nbsp;</span>
            <div class="btn-group sort-btn-groupe">
                <a href="#" class="btn btn-default sorts-btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-sort"></i>&nbsp;&nbsp;по умолчанию&nbsp;&nbsp;<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Артикул</a></li>
                    <li><a href="#">Бренд</a></li>
                    <li><a href="#">Наличие</a></li>
                    <li><a href="#">Срок поставки</a></li>
                    <li><a href="#">Цена</a></li>
                    <li><a href="#">Рейтинг бренда</a></li>
                </ul>

            </div>
            <hr class="hr-margin-5 visible-xs">
        </div>
        <div class="col-md-3 col-sm-3 text-right">
            <div class="btn-group">
                <span class="btn btn-default btn-primary">
                    <i class="fa fa-th-large"></i>
                </span>
                <span class="btn btn-default">
                    <i class="fa fa-th-list"></i>
                </span>
            </div>
            <hr class="hr-margin-5 visible-xs">
        </div>
    </div>
</div>