<div class="viewbox">
    <h3 class="m_t-0">Поиск модели</h3>
    <div class="form-group">
        <select class="form-control">
            <option value="1">Год выпуска</option>
        </select>
    </div>
    <div class="form-group">
        <select class="form-control">
            <option value="1">Модель</option>
        </select>
    </div>
    <div class="form-group">
        <select class="form-control" disabled="">
            <option value="1">Двигатель</option>
        </select>
    </div>

    <span class="hint">
        <b>Быстрый подбор по автомобилю</b> необходим для точного определения Вашего авто по <b>году выпуску</b>, <b>модели</b> и <b>мощности двигателя</b> автомобиля. Всего пару секунд для выбора авто!
    </span>
</div>
