<div class="row">
    <div class="col-md-5 m_b-20">
        <div class="office-detect-list">
            <div class="item active">
                <img class="photo" src="images/no_logo.png" alt="Автокомплекс А+А" />
                <p class="item-in title">
                    <i class="fa fa-wrench"></i>Автокомплекс А+А
                </p>
                <p class="item-in">
                    <i class="fa fa-map-marker"></i>Киев, ул. Ушинского, 38
                </p>
                <p class="item-in">
                    <i class="fa fa-phone"></i>044 228-42-93, 050715-01-22(viber),  097 795-73-93,  093 671-59-93
                </p>
                <p class="item-in item-col">
                    <b>Эксперт-рейтинг:</b>
                    <a href="#">
                        <span w3-include-html="views/widgets/rating-star.html"></span> 22
                    </a>
                </p>
                <p class="item-in item-col">
                    <b>Рейтинг клиентов:</b>
                    <a href="#">
                        <span w3-include-html="views/widgets/rating-star.html"></span> 22
                    </a>
                </p>
            </div>
            <div class="item">
                <img class="photo" src="images/no_logo.png" alt="Автокомплекс А+А" />
                <p class="item-in title">
                    <i class="fa fa-wrench"></i>Автокомплекс А+А
                </p>
                <p class="item-in">
                    <i class="fa fa-map-marker"></i>Киев, ул. Ушинского, 38
                </p>
                <p class="item-in">
                    <i class="fa fa-phone"></i>044 228-42-93, 050715-01-22(viber),  097 795-73-93,  093 671-59-93
                </p>
                <p class="item-in item-col">
                    <b>Эксперт-рейтинг:</b>
                    <a href="#">
                        <span w3-include-html="views/widgets/rating-star.html"></span> 22
                    </a>
                </p>
                <p class="item-in item-col">
                    <b>Рейтинг клиентов:</b>
                    <a href="#">
                        <span w3-include-html="views/widgets/rating-star.html"></span> 22
                    </a>
                </p>
            </div>
            <div class="item">
                <img class="photo" src="images/no_logo.png" alt="Автокомплекс А+А" />
                <p class="item-in title">
                    <i class="fa fa-wrench"></i>Автокомплекс А+А
                </p>
                <p class="item-in">
                    <i class="fa fa-map-marker"></i>Киев, ул. Ушинского, 38
                </p>
                <p class="item-in">
                    <i class="fa fa-phone"></i>044 228-42-93, 050715-01-22(viber),  097 795-73-93,  093 671-59-93
                </p>
                <p class="item-in item-col">
                    <b>Эксперт-рейтинг:</b>
                    <a href="#">
                        <span w3-include-html="views/widgets/rating-star.html"></span> 22
                    </a>
                </p>
                <p class="item-in item-col">
                    <b>Рейтинг клиентов:</b>
                    <a href="#">
                        <span w3-include-html="views/widgets/rating-star.html"></span> 22
                    </a>
                </p>
            </div>
            <div class="item">
                <img class="photo" src="images/no_logo.png" alt="Автокомплекс А+А" />
                <p class="item-in title">
                    <i class="fa fa-wrench"></i>Автокомплекс А+А
                </p>
                <p class="item-in">
                    <i class="fa fa-map-marker"></i>Киев, ул. Ушинского, 38
                </p>
                <p class="item-in">
                    <i class="fa fa-phone"></i>044 228-42-93, 050715-01-22(viber),  097 795-73-93,  093 671-59-93
                </p>
                <p class="item-in item-col">
                    <b>Эксперт-рейтинг:</b>
                    <a href="#">
                        <span w3-include-html="views/widgets/rating-star.html"></span> 22
                    </a>
                </p>
                <p class="item-in item-col">
                    <b>Рейтинг клиентов:</b>
                    <a href="#">
                        <span w3-include-html="views/widgets/rating-star.html"></span> 22
                    </a>
                </p>
            </div>
            <div class="item">
                <img class="photo" src="images/no_logo.png" alt="Автокомплекс А+А" />
                <p class="item-in title">
                    <i class="fa fa-wrench"></i>Автокомплекс А+А
                </p>
                <p class="item-in">
                    <i class="fa fa-map-marker"></i>Киев, ул. Ушинского, 38
                </p>
                <p class="item-in">
                    <i class="fa fa-phone"></i>044 228-42-93, 050715-01-22(viber),  097 795-73-93,  093 671-59-93
                </p>
                <p class="item-in item-col">
                    <b>Эксперт-рейтинг:</b>
                    <a href="#">
                        <span w3-include-html="views/widgets/rating-star.html"></span> 22
                    </a>
                </p>
                <p class="item-in item-col">
                    <b>Рейтинг клиентов:</b>
                    <a href="#">
                        <span w3-include-html="views/widgets/rating-star.html"></span> 22
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-7 m_b-20">
        <iframe class="office-detect-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1798.5070665794208!2d30.478209007993094!3d50.39502035566436!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c8d909c92b8b%3A0x7d95f9b694f6c792!2z0L_RgNC-0LLRg9C70L7QuiDQntGF0YLQuNGA0YHRjNC60LjQuSwgNywg0JrQuNGX0LIsINCj0LrRgNCw0ZfQvdCw!5e0!3m2!1suk!2sua!4v1476116403691" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
