<div class="header-info">
    <div class="container">
        <div class="row">
            <div class="col-md-3 hidden-xs">
                <span class="logo" onclick="window.location.href='http://admiral-c.com.ua/'">
                    <img src="images/logo.png" alt="Адмирал С Доверьте свое авто профессионалам" title="Адмирал С Доверьте свое авто профессионалам" />
                </span>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-catalog">
                            <ul class="nav navbar-nav">
                                <li><a href="#">Неоригинал</a></li>
                                <li><a href="#">Оригинал</a></li>
                                <li class="long"><a href="#">Автомасла и автохимия</a></li>
                                <li class="long"><a href="#">Универсальные запчасти</a></li>
                                <li><a href="#">Подбор СТО</a></li>
                            </ul>
                        </nav>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="search input-group">
                            <input type="text" class="form-control" name="" id="" placeholder="Поиск по номеру запчасти" />
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>


                        <!--<div class="search form-inline">
                            <form action="">
                                <div class="form-group">
                                    <i class="fa fa-search"></i>
                                    <input type="text" class="form-control" name="" id="" placeholder="Поиск по номеру запчасти" />
                                </div>
                                <button class="btn btn-primary" type="submit">
                                    Поиск
                                </button>
                            </form>
                        </div>-->
                    </div>
                    <div class="col-md-2 hidden-xs">
                        <div class="cart-block active">
                            <div class="media"
                                 data-toggle="modal"
                                 data-target="#cartExtended"
                            >
                                <div class="media-left">
                                    <span class="count">1</span>
                                    <i class="fa fa-shopping-basket fa-2x"></i>
                                </div>
                                <div class="media-body">
                                    <span class="link">Корзина</span>
                                    <span class="amount">125 грн.</span>
                                </div>
                            </div>
                            <div class="dropdown">
                                <div class="dropdown-in">
                                    <p>
                                        В корзине 1 товар<br />
                                        на cумму 125 грн.
                                    </p>
                                    <a class="btn btn-primary" href="#">Оформить заказ</a>
                                </div>
                                <hr />
                                <div class="dropdown-in">
                                <span class="cart-link"
                                      data-toggle="modal"
                                      data-target="#cartExtended"
                                ><i class="fa fa-shopping-basket"></i> <span class="link">Перейти в корзину</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
