<div class="header-info">
    <div class="container">
        <div class="row">
            <div class="col-md-3 hidden-xs">
                <span class="logo" onclick="window.location.href='http://admiral-c.com.ua/'">
                    <img src="images/logo.png" alt="Адмирал С Доверьте свое авто профессионалам" title="Адмирал С Доверьте свое авто профессионалам" />
                </span>
            </div>
            <div class="col-md-9">
                <div class="row hidden-xs">
                    <div class="col-md-12">
                        <nav class="navbar navbar-catalog">
                            <ul class="nav navbar-nav">
                                <li><a href="#">Каталог запчастей</a></li>
                                <li><a href="#">Запчасти для ТО</a></li>
                                <li><a href="#">Автомасла и автохимия</a></li>
                                <li><a href="#">Универсальные запчасти</a></li>
                                <li><a href="#">Подбор СТО</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="visible-xs-block text-center m_b-10">
                            <div class="phone-header "
                                 role="button"
                                 data-container="body"
                                 data-toggle="popover"
                                 data-placement="bottom"
                                 data-content="<h3><a href='tel:380507150122'><small>+38 050</small> 715-01-22(viber)</a></h3><h3><a href='tel:380977957393'><small>+38 097</small> 795-73-93</a></h3><h3><a href='tel:380936715993'><small>+38 093</small> 671-59-93</a></h3>"
                            >
                                <i class="glyphicon glyphicon-phone-alt m_r-10"></i>
                                <small>+38 044</small> 228-42-93
                                <span class="caret"></span>
                            </div>
                        </div>
                        <div class="search input-group">
                            <input type="text" class="form-control" name="" id="" placeholder="Поиск по номеру запчасти" />
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2 hidden-xs">
                        <div class="cart-block active">
                            <div class="media"
                                 data-toggle="modal"
                                 data-target="#cartExtended"
                            >
                                <div class="media-left">
                                    <span class="count">1</span>
                                    <i class="fa fa-shopping-basket fa-2x"></i>
                                </div>
                                <div class="media-body">
                                    <span class="link">Корзина</span>
                                    <span class="amount">125 грн.</span>
                                </div>
                            </div>
                            <div class="dropdown">
                                <div class="dropdown-in">
                                    <p>
                                        В корзине 1 товар<br />
                                        на cумму 125 грн.
                                    </p>
                                    <a class="btn btn-primary" href="#">Оформить заказ</a>
                                </div>
                                <hr />
                                <div class="dropdown-in">
                                <span class="cart-link"
                                      data-toggle="modal"
                                      data-target="#cartExtended"
                                ><i class="fa fa-shopping-basket"></i> <span class="link">Перейти в корзину</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
