.catalog-tree {
  li {
    list-style: none;

    a,
    span {
      position: relative;
      display: block;
      padding: 5px;
      cursor: pointer;
    }

    span {
      padding-left: 20px;

      &:before {
        content: '\f055';
        position: absolute;
        top: 2px;
        left: 0;
        @include font-awesome(16px);
      }

      &:hover {
        text-decoration: underline;
      }
    }

    a {
      padding-left: 20px;
    }

    ul {
        padding-left: 20px;
    }

    &.active {
      > span {
        cursor: default;

        &:hover {
          text-decoration: none;
        }

        &:before {
          content: '\f056';
        }
      }
    }
  }
}


