.comment_star {
  display: inline-block;
  font-size: 0;

  &:before {
    content: '\f006';
    @include font-awesome(42px);
    color: $yellow;
  }

  &_active {
    &:before {
      content: '\f005';
    }
  }
}
