.finder-filters {
  @include respond-to('medium') {
    display: none;
  }

  .title {
    position: relative;
    margin: 0;
    font-weight: 600;
    cursor: pointer;
    color: $blue;
    transition: all 0.3s;

    &:after {
      content: '\f077';
      position: absolute;
      top: -5px;
      right: 0;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      border: 2px solid transparent;
      @include font-awesome(16px);
      color: $blue;
      line-height: 1;
      text-align: center;
      transition: all 0.3s;
    }
    
    &:hover {
      color: lighten($red, 15%);
      
      &:after {
        border-color: lighten($red, 15%);
        color: lighten($red, 15%);
      }
    }

    &.less {
      padding-bottom: 0;

      &:after {
        @include prefix(transform, rotate(180deg), ms webkit);
      }
    }
  }

  &-in {
    padding-top: 10px;
  }

  &-list {
    a {
      display: block;
      position: relative;
      margin-bottom: 5px;
      padding-left: 20px;
      color: $font-color-base;

      input {
        position: absolute;
        top: 0;
        left:0;
      }
    }
  }

  &-price {
    .form-control {
      display: inline-block;
      vertical-align: middle;
      width: 70px;
    }
  }
}
