.offers-list {
  font-size: 0;
  text-align: center;
  margin: 10px -4px 0;

  @include respond-to('small-x-min') {
    &.offers-list {
      &-modal {
        .offers-list-item {
          width: 100%;
          font-size: 0;
          border-right: none;

          div {
            display: inline-block;
            padding: 0 5px;
            width: 25%;
            font-size: 16px;
          }
        }
      }
    }
  }

  &-item {
    display: inline-block;
    width: 33.33333%;
    margin-bottom: 10px;
    padding: 0 4px;
    border-right: 1px solid $gray;
    font-size: 13px;
    text-align: left;

    &:last-child {
      border-right: none;
    }

    div {
      margin-bottom: 5px;
    }

    .price {
      display: block;
      font-weight: 600;
      padding: 2px 3px;
      background-color: #ffe0a0;
      color: #000;
    }

    .fa {
      margin-right: 8px;
    }

    .btn {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .link {
    font-size: 12px;
  }
}
