.offers-table {
  border: none;
  text-align: center;

  th {
    background-color: $gray;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;

    &:first-child {
      border-radius: 5px 0 0 0;
      border-left: none;
    }

    &:last-child {
      border-radius: 0 5px 0 0;
      border-right: none;
    }
  }

  &.table {
    th,
    td {
      vertical-align: middle;
    }
  }

  .price {
    padding-right: 10px;
    font-size: 20px;
    font-weight: 600;
  }
}

.modal-offers-table {
  .modal-body {
    padding: 5px 5px 0;
  }

  .offers-table {
    .price {
      font-size: 16px;
    }
  }
}

@include respond-to('medium') {
  .offers-table {
    th {
      font-size: 12px;
    }

    .price {
      font-size: 18px;
    }
  }
}
