.office-detect {
  $box-height: 450px;

  &-list {
    overflow-y: auto;
    max-height: $box-height;
    padding: 10px;

    .item {
      margin-bottom: 10px;
      padding: 5px;

      + .item {
        border-top: 1px solid $gray;
      }

      .photo {
        float: right;
        max-width: 50px;
      }

      &.active {
        border-bottom: none;
        border-radius: 3px;
        box-shadow: 3px 3px 6px rgba($blue, 0.6);

        .title {
          color: #0076b2;
        }
      }
    }

    .item-in {
      position: relative;
      margin-bottom: 5px;
      padding-left: 25px;

      > .fa {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 17px;
      }

      &.title {
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          color: #0076b2;
        }
      }

      &-col {
        padding-left: 0;
      }
    }
  }

  &-map {
    width: 100%;
    height: $box-height;
  }
}

@include respond-to('medium') {
  .office-detect {
    $box-height-md: 230px;

    &-list {
      max-height: $box-height-md;
      margin-bottom: 10px;
    }

    &-map {
      height: $box-height-md;
    }
  }
}
