.offers-list {
  font-size: 0;
  padding: 0 5px;

  &-item {
    border-bottom: 1px solid $border-gray;
    margin-bottom: 5px;
    padding-bottom: 5px;

    .item-in {
      display: inline-block;
      width: 33.33333%;
      padding: 0 4px;
      font-size: 13px;
    }

    .price {
      width: 100%;

      .actual {
        display: inline-block;
        margin-bottom: 3px;
        padding: 2px 10px;
        background-color: #ffe0a0;
        border-radius: 2px;
        font-size: 16px;
        color: #000;
        font-weight: 600;
        cursor: default;
      }

      .old {
        display: inline-block;
        margin-left: 10px;
        font-size: 14px;
        opacity: 0.75;
        text-decoration: line-through;
        cursor: default;
      }
    }

    span {
      cursor: pointer;
    }
  }

  .link {
    font-size: 12px;
  }
}
