.phone-header {
  display: inline-block;
  vertical-align: top;
  margin: 8px 25px 0 0;
  font-size: 18px;
  font-weight: 500;

  small {
    font-size: 65%;
    font-weight: normal;
    line-height: 1;
    color: #777777;
  }
}
