.product-grid {
  .item {
    padding: 5px 5px 10px;
    background-color: #fff;
    border: 1px solid rgba($blue, 0.75);
    border-radius: 3px;
    transition: all 0.3s;

    .photo {
      display: block;
      height: 150px;
      margin: 0 auto 5px;
      @include flex-centre();

      &-in {
        display: block;
        margin: 0 auto 10px;
        border-radius: 3px;
      }

      img {
        width: auto;
      }
    }

    .title {
      display: block;
      margin-bottom: 5px;
    }

    .desc {
      margin-top: 10px;
      font-size: 12px;
    }
  }

  &-catalog {
    .item {
      position: relative;
      margin-bottom: 10px;
      border-color: transparent;
      transition: all 0.3s;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 3px;
        transition: all 0.3s;
        pointer-events: none;
      }

      &:hover {
        z-index: 1;

        &:before {
          bottom: -6px;
          left: -6px;
          right: -6px;
          top: -6px;
          box-shadow: 0 2px 10px rgba($blue, 0.85);
        }
      }
    }
  }
}
