.search {
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;

  .form-group{
    position: relative;
  }

  .fa {
    position: absolute;
    top: 7px;
    left: 8px;
    color: $blue;
    font-size: 17px;
  }

  .form-control {
    padding-left: 30px;
    border-color: $blue;
  }
}

@include respond-to('medium') {
  .search {
    display: block;
    margin: 0;

    .form-group{
      display: inline-block;
    }
  }
}
