.search {
  .form-control {
    border-color: $blue;
  }
  
  .input-group-addon {
    background-color: $blue;
    border-color: $blue;
    color: #fff;
    cursor: pointer;

    .fa {
      font-size: 20px;
    }
  }
}
