.tabs-nav {
  font-size: 0;

  li {
    list-style: none;
    display: inline-block;
    padding: 5px 25px 10px 0;
    font-size: 16px;

    a {
      position: relative;
      display: block;
      text-decoration: none;
      color: $font-color-base;
      font-weight: 600;
      transition: all .3s ease;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: $red;
        transition: all .3s ease;
      }
    }

    &.active,
    &:hover {
      a {
        color: $red;

        &:after {
          width: 100%;
        }
      }
    }

    &.active {
      a {
        cursor: default;
      }
    }
  }
}
