<div class="row">
    <div class="col-md-7">
        <h3>
            Посик по VIN коду
        </h3>

        <form action="#">
            <div class="search form-inline">
                <div class="form-group">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control" placeholder="Посик по VIN коду" />
                </div>
                <button class="btn btn-primary" type="submit">
                    Поиск
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-5">

        <div w3-include-html="views/catalog/form-order.html"></div>

    </div>
</div>
