<div class="row">
    <div class="col-md-7 m_b-20">
        <div class="border-box">
            <ul class="catalog-tree">
                <li class="active">
                    <span>
                        Автокосметика
                    </span>
                    <ul>
                        <li>
                            <span>
                                Автокосметика
                            </span>
                        </li>
                        <li class="active">
                            <span>
                                Автокосметика
                            </span>
                            <ul>
                                <li>
                                    <span>
                                        Автокосметика
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Автокосметика
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Автокосметика
                                    </span>
                                </li>
                                <li>
                                    <a href="#">
                                        Автокосметика
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>
                                Автокосметика
                            </span>
                        </li>
                        <li>
                            <a href="#">
                                Автокосметика
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>
                        Автокосметика
                    </span>
                </li>
                <li>
                    <span>
                        Автокосметика
                    </span>
                </li>
                <li>
                    <a href="#">
                        Автокосметика
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-5 m_b-20">
        <img src="http://placehold.it/300x250&text=Фото+каталога" alt="" />
    </div>
</div>