<div class="row">
    <div class="col-md-3 form-group">
        <input class="form-control" type="text" data-autocomplete placeholder="Выберите город" />
    </div>
    <div class="col-md-3 form-group">
        <input class="form-control" type="text" data-autocomplete placeholder="Марка авто" />
    </div>
    <div class="col-md-3 form-group">
        <input class="form-control" type="text" data-autocomplete placeholder="Вид работ" />
    </div>
    <div class="col-md-3 form-group">
        <button class="btn btn-primary btn-block">
            Подбрать СТО
        </button>
    </div>
</div>

<div w3-include-html="views/catalog/sto-layout.html"></div>
