<div class="modal modal-md fade" id="analogProduct">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    Аналоги product name
                </h4>
            </div>
            <div class="modal-body">
                <ul class="form-login-nav clearfix">
                    <li class="active"><a href="#analogOriginal" data-toggle="tab">Оригинал</a></li>
                    <li><a href="#analogNotOriginal" data-toggle="tab">Неоригинал</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="analogOriginal">
                        <p>
                            <b>AUTOMEGA: </b><a href="#">011119420043A</a>;
                        </p>
                        <p>
                            <b>AUTOMEGA: </b><a href="#">011119420043A</a>;
                        </p>
                        <p>
                            <b>AUTOMEGA: </b><a href="#">011119420043A</a>;
                        </p>
                        <p>
                            <b>AUTOMEGA: </b><a href="#">011119420043A</a>;
                        </p>
                    </div>
                    <div class="tab-pane" id="analogNotOriginal">
                        <p>
                            <b>AUTOMEGA: </b><a href="#">011119420043A</a>;
                        </p>
                        <p>
                            <b>AUTOMEGA: </b><a href="#">011119420043A</a>;
                        </p>
                        <p>
                            <b>AUTOMEGA: </b><a href="#">011119420043A</a>;
                        </p>
                        <p>
                            <b>AUTOMEGA: </b><a href="#">011119420043A</a>;
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

