<div class="modal fade" id="cartExtended">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    Корзина
                </h4>
            </div>
            <div class="modal-body">
                <table class="table cart-table">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th class="td-small">Кол-во</th>
                            <th class="td-small">Цена</th>
                            <th class="td-small"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>LOTOS 0154502</td>
                            <td class="td-small">1</td>
                            <td class="td-small"><b>74.14</b> <small>грн</small></td>
                            <td class="td-small">
                                <span class="remove fa-stack">
                                  <i class="fa fa-circle-o fa-stack-2x"></i>
                                  <i class="fa fa-close fa-stack-1x"></i>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>LOTOS 0154502</td>
                            <td class="td-small">1</td>
                            <td class="td-small"><b>95.22</b> <small>грн</small></td>
                            <td class="td-small">
                                <span class="remove fa-stack">
                                  <i class="fa fa-circle-o fa-stack-2x"></i>
                                  <i class="fa fa-close fa-stack-1x"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link">Очистить корзину</button>
                <button type="button" class="btn btn-primary">Оформить заказа</button>
            </div>
        </div>
    </div>
</div>
