<div class="modal modal-md fade" id="formReviews">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    Оставить отзыв <!-- TODO Ответить -->
                </h4>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <label>
                            Текст сообщения <sup class="red">*</sup>
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-align-justify"></i></span>
                            <textarea class="form-control" maxlength="5000" placeholder="Текст сообщения"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        star jq
                    </div>
                    <div class="form-group">
                        <label>
                            Плюсы
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-thumbs-o-up green"></i></span>
                            <textarea class="form-control" maxlength="3000" placeholder="Плюсы"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            Минусы
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-thumbs-o-down red"></i></span>
                            <textarea class="form-control" maxlength="3000" placeholder="Минусы"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            Ваше имя <sup class="red">*</sup>
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input class="form-control" type="text" placeholder="Ваше имя" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            Email
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="text" placeholder="Электронная почта" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            Оценка
                        </label>
                        <div id="comment_rating" value="0">
                            <div id="comment_star_1" onmouseover="comment_starOver(1);" onmouseout="comment_starOut(1);" onclick="comment_starClick(1);" class="comment_star comment_star_active"></div>
                            <div id="comment_star_2" onmouseover="comment_starOver(2);" onmouseout="comment_starOut(2);" onclick="comment_starClick(2);" class="comment_star"></div>
                            <div id="comment_star_3" onmouseover="comment_starOver(3);" onmouseout="comment_starOut(3);" onclick="comment_starClick(3);" class="comment_star"></div>
                            <div id="comment_star_4" onmouseover="comment_starOver(4);" onmouseout="comment_starOut(4);" onclick="comment_starClick(4);" class="comment_star"></div>
                            <div id="comment_star_5" onmouseover="comment_starOver(5);" onmouseout="comment_starOut(5);" onclick="comment_starClick(5);" class="comment_star"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" /> Уведомлять об ответах по почте
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Оставить отзыв</button>
                </form>
            </div>
        </div>
    </div>
</div>
