<div class="modal modal-md fade modal-offers-table" id="moreOffer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    Все предложения по product name
                </h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered offers-table">
                    <thead>
                    <tr>
                        <th>НАЛИЧИЕ</th>
                        <th>Дата поставки</th>
                        <th>Цена</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            9
                            <i class="icon-probability probability-0"
                               data-toggle="tooltip"
                               data-placement="top"
                               title="Вероятность наличия: 85%"
                            ></i>
                        </td>
                        <td>
                            2 дн.
                            <i class="icon-time time-00-00"
                               data-toggle="tooltip"
                               data-placement="top"
                               title="Товар будет доступен 07.11.2016 в 12:30"
                            ></i>
                        </td>
                        <td>
                            <span class="price">1066.19 грн</span>
                            <span class="btn btn-primary">
                                <i class="fa fa-shopping-basket"></i> Купить
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            9
                            <i class="icon-probability probability-50"
                               data-toggle="tooltip"
                               data-placement="top"
                               title="Вероятность наличия: 85%"
                            ></i>
                        </td>
                        <td>
                            2 дн.
                            <i class="icon-time time-00-05"
                               data-toggle="tooltip"
                               data-placement="top"
                               title="Товар будет доступен 07.11.2016 в 12:30"
                            ></i>
                        </td>
                        <td>
                            <span class="price">1066.19 грн</span>
                            <span class="btn btn-primary">
                                <i class="fa fa-shopping-basket"></i> Купить
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
