<div class="modal modal-md fade" id="moreOffer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    Все предложения по product name
                </h4>
            </div>
            <div class="modal-body">
                <div class="offers-list offers-list-modal">
                    <div class="offers-list-item">
                        <div>
                            <span class="price">
                                7798.66 грн
                            </span>
                        </div>
                        <div>
                            <i class="fa fa-sort-numeric-desc"></i>10 шт.
                        </div>
                        <div>
                            <i class="fa fa-clock-o"></i>2 дн.
                        </div>
                        <div>
                            <span class="btn btn-primary btn-sm btn-block">
                                <i class="fa fa-shopping-basket"></i>Купить
                            </span>
                        </div>
                    </div>
                    <div class="offers-list-item">
                        <div>
                            <span class="price">
                                7798.66 грн
                            </span>
                        </div>
                        <div>
                            <i class="fa fa-sort-numeric-desc"></i>10 шт.
                        </div>
                        <div>
                            <i class="fa fa-clock-o"></i>2 дн.
                        </div>
                        <div>
                            <span class="btn btn-primary btn-sm btn-block">
                                <i class="fa fa-shopping-basket"></i>Купить
                            </span>
                        </div>
                    </div>
                    <div class="offers-list-item">
                        <div>
                            <span class="price">
                                7798.66 грн
                            </span>
                        </div>
                        <div>
                            <i class="fa fa-sort-numeric-desc"></i>10 шт.
                        </div>
                        <div>
                            <i class="fa fa-clock-o"></i>2 дн.
                        </div>
                        <div>
                            <span class="btn btn-primary btn-sm btn-block">
                                <i class="fa fa-shopping-basket"></i>Купить
                            </span>
                        </div>
                    </div>
                    <div class="offers-list-item">
                        <div>
                            <span class="price">
                                7798.66 грн
                            </span>
                        </div>
                        <div>
                            <i class="fa fa-sort-numeric-desc"></i>10 шт.
                        </div>
                        <div>
                            <i class="fa fa-clock-o"></i>2 дн.
                        </div>
                        <div>
                            <span class="btn btn-primary btn-sm btn-block">
                                <i class="fa fa-shopping-basket"></i>Купить
                            </span>
                        </div>
                    </div>
                    <div class="offers-list-item">
                        <div>
                            <span class="price">
                                7798.66 грн
                            </span>
                        </div>
                        <div>
                            <i class="fa fa-sort-numeric-desc"></i>10 шт.
                        </div>
                        <div>
                            <i class="fa fa-clock-o"></i>2 дн.
                        </div>
                        <div>
                            <span class="btn btn-primary btn-sm btn-block">
                                <i class="fa fa-shopping-basket"></i>Купить
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
