<div class="modal fade office-detect" id="officeDetect">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    Выберите офис
                </h4>
            </div>
            <div class="modal-body">
               <div class="row">
                   <div class="col-md-4">
                       <div class="office-detect-list">
                           <div class="item active">
                               <p class="item-in title">
                                   <i class="fa fa-map-marker"></i>Киев, ул. Ушинского, 38
                               </p>
                               <p class="item-in">
                                   <i class="fa fa-phone"></i>044 228-42-93, 050715-01-22(viber),  097 795-73-93,  093 671-59-93
                               </p>
                               <p class="item-in">
                                   <i class="fa fa-sign-in"></i>Пн-Пт 9:00-18:00, Сб 9:00-15:00
                               </p>
                           </div>
                           <div class="item">
                               <p class="item-in title">
                                   <i class="fa fa-map-marker"></i>Бориспольский р-н, с. Гора, ул. Карла Маркса, 10
                               </p>
                               <p class="item-in">
                                   <i class="fa fa-phone"></i>050746-29-08, 067804-10-30
                               </p>
                               <p class="item-in">
                                   <i class="fa fa-sign-in"></i>Пн-Пт: 9-00 - 20-00, Сб: 9-00 - 16 30
                               </p>
                           </div>
                           <div class="item">
                               <p class="item-in title">
                                   <i class="fa fa-map-marker"></i>Бориспольский р-н, с. Гора, ул. Карла Маркса, 10
                               </p>
                               <p class="item-in">
                                   <i class="fa fa-phone"></i>050746-29-08, 067804-10-30
                               </p>
                               <p class="item-in">
                                   <i class="fa fa-sign-in"></i>Пн-Пт: 9-00 - 20-00, Сб: 9-00 - 16 30
                               </p>
                           </div>
                           <div class="item">
                               <p class="item-in title">
                                   <i class="fa fa-map-marker"></i>Бориспольский р-н, с. Гора, ул. Карла Маркса, 10
                               </p>
                               <p class="item-in">
                                   <i class="fa fa-phone"></i>050746-29-08, 067804-10-30
                               </p>
                               <p class="item-in">
                                   <i class="fa fa-sign-in"></i>Пн-Пт: 9-00 - 20-00, Сб: 9-00 - 16 30
                               </p>
                           </div>
                           <div class="item">
                               <p class="item-in title">
                                   <i class="fa fa-map-marker"></i>Бориспольский р-н, с. Гора, ул. Карла Маркса, 10
                               </p>
                               <p class="item-in">
                                   <i class="fa fa-phone"></i>050746-29-08, 067804-10-30
                               </p>
                               <p class="item-in">
                                   <i class="fa fa-sign-in"></i>Пн-Пт: 9-00 - 20-00, Сб: 9-00 - 16 30
                               </p>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-8">
                       <iframe class="office-detect-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1798.5070665794208!2d30.478209007993094!3d50.39502035566436!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c8d909c92b8b%3A0x7d95f9b694f6c792!2z0L_RgNC-0LLRg9C70L7QuiDQntGF0YLQuNGA0YHRjNC60LjQuSwgNywg0JrQuNGX0LIsINCj0LrRgNCw0ZfQvdCw!5e0!3m2!1suk!2sua!4v1476116403691" frameborder="0" style="border:0" allowfullscreen></iframe>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>
