<div class="modal fade modal-md" id="requestVin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">
                    Запрос по VIN-коду
                </h4>
            </div>
            <div class="modal-body">
                <form action="#">
                    <div class="form-group">
                        <label>Ф.И.О.<sup class="red">*</sup></label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input class="form-control" type="text" placeholder="Ф.И.О." />
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Телефон<sup class="red">*</sup></label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            <input class="form-control" type="text" placeholder="Телефон" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Электронная почта</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="text" placeholder="Электронная почта" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Ближайший офис Адмирал-С<sup class="red">*</sup></label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                            <input class="form-control" type="text" placeholder="Офис" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Марка авто<sup class="red">*</sup></label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-car"></i></span>
                            <input class="form-control" type="text" placeholder="Марка авто" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label>VIN код<sup class="red">*</sup></label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-qrcode"></i></span>
                            <input class="form-control" type="text" placeholder="VIN код" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Комментарий<sup class="red">*</sup></label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-align-justify"></i></span>
                            <textarea class="form-control" maxlength="5000" placeholder="Комментарий"></textarea>
                        </div>
                    </div>

                    <div class="border-box form-group">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>НАЗВАНИЕ ЗАПЧАСТИ</th>
                                    <th class="td-small">КОЛ-ВО</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>
                                        <input class="form-control" type="text" placeholder="Амортизатор передний правый" />
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" placeholder="2" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <ul class="list-inline text-center">
                            <li>
                                <span class="link">
                                    Добавить строку
                                </span>
                            </li>
                            <li>|</li>
                            <li>
                                <span class="link">
                                     Убрать строку
                                </span>
                            </li>
                        </ul>

                    </div>

                    <div class="form-group text-center">
                        <button type="button" class="btn btn-primary">Подтвердить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
